.container {
    display: grid;
    grid-template-areas:
        "menu header"
        "menu content"
        "menu footer";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr auto; 
    gap: 5px;
    padding: 5px;
    height: 100vh;
}

.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.container > div.header {
    grid-area: header;
    text-align: center;
    height: auto; 
}

.container > div.menu {
    grid-area: menu;
}

.container > div.content {
    grid-area: content;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.container > div.footer {
    grid-area: footer;
    height: auto; 
}

table {
    width: 100%;
}

th, td {
    border: 1px solid #000;
    text-align: center;
}
